@CHARSET "UTF-8";

body {
    font-family: "Yu Gothic Medium",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    color: #ffffff;
    background-color: #f3981d;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    color: #ffffff;
}

h2 {
    font-size: 12px;
    margin-bottom: 15px;
    color: #ffffff;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #ffffff;
}

table {
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
}

th {
    width: 26%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

td {
    width: 66%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color: #616161;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    height: 50px;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
    color: #616161;
    background-color: #ffffff;
}

img#logo {
    width: 170px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    color: #f3981d;
}

img.icon {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

body#admin {
    background-color: #0d47a0;
}

table#user_list .id {
    width: 10%;
}

table#user_list .name {
    width: 35%;
}

table#user_list .admin {
    width: 10%;
}

table#user_list .date {
    width: 16%;
}

table#user_list .action {
    width: 13%;
}

tr.label {
    background-color: #f3981d;
}

.row1 {
    background-color: #ffeddb;
}

.row0 {
    background-color: #ffe5cc;
}

table#show {
    width: 65%;
}

table#show th {
    background-color: #f3981d;
}

div#login {
    text-align: center;
}

img#symbol {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

img.menu_icon {
    width: 40px;
    height: 40px;
}

div#header_menu {
    width: 40%;
    display: inline-block;
    color: #3981d;
}

div#user_name {
    width: 30%;
    display: inline-block;
    color: #3981d;
}

table#ingredient_list .name {
    width: 28%;
}

table#ingredient_list .type {
    width: 15%;
}

table#ingredient_list .abv {
    width: 11%;
}

table#ingredient_list .soda_flag {
    width: 8%;
}

table#ingredient_list .date {
    width: 25%;
}

table#ingredient_list .action {
    width: 13%;
}